/*----------------------------------------*/
/*  REUSEABLE CODES                          */
/*----------------------------------------*/

* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: url(../images/mainbackground.jpg);
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  max-width: 100%;
  background-size: cover;
  font-family: "Lato";
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
}

.hero-section {
  display: flex;
  width: 100%;
}
.hero-text {
  margin: 160px 0 0 80px;
  width: 80%;
  backface-visibility: hidden;
}
.hero-text1 {
  color: rgb(255, 247, 247);
  overflow: hidden;
  font-weight: bold;
  animation-name: moveInLeft;
  animation-duration: 3s;
  animation-timing-function: ease-out;
}

.hero-text2 {
  color: greenyellow;
  overflow: hidden;
  font-weight: bold;
  animation-name: moveInRight;
  animation-duration: 3s;
  animation-timing-function: ease-out;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  /*
80% {
       transform: translateX(10px);
 }
*/
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  /*
80% {
       transform: translateX(10px);
 }
*/
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.space1 {
  width: 10%;
}

.space2 {
  width: 10%;
}

.fancy-text {
  color: rgb(238, 238, 41);
}

.jumbotron {
  background-color: rgba(14, 14, 27, 0.527);
  width: 80%;
  margin: auto;
  margin-top: 30px;
  border-radius: 10px;
  transition: 7s;
}
h2 {
  overflow: hidden;
  font-size: 25px;
  letter-spacing: 1px;
  text-align: center;
  margin-top: -30px;
  margin-bottom: 20px;
}

.container {
  overflow: hidden;
}

/*----------------------------------------*/
/*  NAVBAR CODES                          */
/*----------------------------------------*/
.navbar {
  float: right;
  margin: 20px 5px 10px 0;
}
.navbar li {
  padding-left: 15px;
  font-family: "Lato";
  display: inline-block;
  text-transform: uppercase;
  font-size: 10px;
}
.navbar li a:link,
.navbar li a:visited {
  padding: 8px 0;
  text-decoration: none;
  color: rgb(255, 255, 255);
  transition: border-bottom 0.2s;
}

.navbar li a:hover,
.navbar li a:active {
  border-bottom: 2px solid greenyellow;
}

a {
  color: rgb(236, 221, 14);
  font-size: 20px;
  font-family: "Lato";
  font-weight: 300;
}
.navbar li a {
  font-weight: 300;
}
.offers a {
  text-decoration: none;
}
.navbar-dark .navbar-nav .nav-link {
  color: white;
  font-weight: 300;
}

/*----------------------------------------*/
/*  LOGO CODES                            */
/*----------------------------------------*/

.logo {
  width: 300px;
  height: 250px;
  opacity: 0.8;
}

/*------------------------------------------------*/
/* ABOUT SECTION CODES */
/*------------------------------------------------*/

.about {
  font-family: "Lato";
  text-align: center;
  color: white;
  transition: 3s;
  padding: 20px 0 0 0;
}

.about:after {
  display: block;
  height: 2px;
  width: 100px;
  content: "";
  margin: 0 auto;
  background-color: greenyellow;
  margin-top: 30px;
  margin-bottom: 5px;
}

.jumbotron p {
  font-family: "Lato";
  color: white;
  font-size: 20px;
  padding: 0 10px;
}

.jumbo-box {
  display: flex;
}

.navbar li a {
  font-weight: 300;
}

/*------------------------------------------------*/
/* GALLERY SECTION CODES */
/*------------------------------------------------*/

.back-img-gallery {
  background: url(../images/imgg7.jpg);
  background-repeat: repeat-x;
  width: 100%;
  background-size: cover;
  height: 100vh;
}

.navbar-gallery {
  float: right;
}

.gallery {
  font-family: "Lato";
  text-align: center;
  color: rgb(224, 140, 4);
  transition: 7s;
  padding: 5px 0 0 0;
}

.gallery:after {
  display: block;
  height: 2px;
  width: 100px;
  content: "";
  margin: 0 auto;
  background-color: orange;
  margin-top: 30px;
  margin-bottom: 30px;
}

.gallery-img {
  margin-top: 10px;
  transition: all 1s;
  overflow: hidden;
  margin-bottom: 20px;
}

.gallery-img:hover {
  transform: scale(1.1);
  overflow: auto;
  cursor: pointer;
}

/*------------------------------------------------*/
/*   SERVICES SECTION CODES */
/*------------------------------------------------*/
.kga-services {
  background-color: rgb(80, 77, 77);
  width: 100%;
  height: 850px;
  font-family: "Lato";
  overflow: hidden;
}

.kga-services h1 {
  text-align: center;
  color: rgb(255, 255, 255);
  margin-top: 50px;
  font-size: 30px;
}

.kga-services h1:after {
  display: block;
  height: 2px;
  width: 100px;
  content: "";
  margin: 0 auto;
  background-color: greenyellow;
  margin-top: 30px;
  margin-bottom: 30px;
}

.kga-services h2 {
  color: greenyellow;
  animation-name: moveOut;
  animation-duration: 8s;
}

@keyframes moveOut {
  0% {
    opacity: 0;
    transform: translate3d(100px);
  }
  /*
80% {
       transform: translateX(10px);
 }
*/
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
.services-image {
  width: 250px;
  height: 200px;
  padding-right: 30px;
}

.kga-services p {
  color: rgb(251, 251, 251);
  font-size: 20px;
  text-align: center;
  font-family: "Montserrat";
}
.eggs-section,
.layers-section,
.broilers-section {
  margin-top: 10px;
  overflow: hidden;
}
.enquiries {
  font-size: 22px;
}
.empty-space {
  width: 100%;
  height: 300px;
  overflow: hidden;
}

/*------------------------------------------------*/
/*   FOOTER SECTION CODES 
/*------------------------------------------------*/
.kga-footer {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(15, 15, 14);
  width: 100%;
  height: 500px;
}

.kga-footer h3 {
  color: greenyellow;

  font-family: "Montserrat";
}

.kga-footer p {
  font-family: "Montserrat";
  font-size: 20px;
}

.contact-section {
  width: 50%;
  margin: 50px 0 0 50px;
}

.social-links {
  margin: 0 0 0 50px;
  width: 50%;
  overflow: hidden;
}
.social {
  display: inline;
  margin-bottom: 20px;
}

.social-links a {
  text-decoration: none;
  font-size: 20px;
}
.social-links li {
  text-decoration: none;
  padding-top: 15px;
}
.social-links li a {
  color: white;
}

.social-links li a:hover {
  color: yellow;
}
p {
  color: white;
}

.social-link ul {
  list-style: none;
}

.footer-attribute {

  display: flex;
  
}
.rights-reserved {
  width: 60%;
  color: #fff;
  margin-top: 20px;
}
.design-attribute p {
  color: rgb(248, 248, 248);
  font-size: 14px;
  cursor: pointer;
}

.design-attribute {
  margin: 30px 0 0 300px;
  width: 40%;
}
.design-attribute a {
  text-decoration: none;
  font-size: 15px;
}
.attribute {
  color: white;
  font-style: italic;
}


/* -----
SVG Icons - svgicons.sparkk.fr
----- */

.svg-icon {
  width: 1.5em;
  height: 1.5em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #f6f6f6;
}

.svg-icon circle {
  stroke: #4691f6;
  stroke-width: 1;
}

span {
  width: 10%;
}
/*------------------------------------------------ */
/* MEDIA QUERIES CODES                    */
/*------------------------------------------------*/

/* iphone 6/7/8 and galaxy s5 */
@media only screen and (min-width: 300px) and (max-width: 768px) and (-webkit-min-device-pixel-ratio: 2) {
  .container {
    overflow: hidden;
  }

  .nav-link {
    font-size: 12px;
  }
  .logo {
    width: 200px;
    height: 150px;
  }

  .hero-section {
    margin-top: 100px;
    overflow: hidden;
  }

  .hero-text {
    overflow: hidden;
  }
  .hero-text1,
  .hero-text2 {
    font-size: 35px;
    width: 100%;
    text-align: center;
    overflow: hidden;
  }

  .gallery-img {
    width: 300px;
    height: 200px;
    margin-left: 35px;
  }

  .hero-text {
    margin: 70px 0 0 -10px;
    width: 100%;
  }
  .designer {
    /* footer link for designer */
    font-size: 10px;
    
  }

  .jumbo-box {
    margin-top: 30px;
  }

  .pre-jumbo {
    width: 10%;
  }

  .jumbotron {
    width: 80%;
  }

  .post-jumbo {
    width: 10%;
  }

  .jumbotron p {
    font-size: 16px;
  }

  .about {
    font-size: 18px;
  }

  .kga-services h1 {
    font-size: 18px;
  }

  .kga-services h2 {
    font-size: 15px;
  }

  .kga-services h2,
  p {
    text-align: center;
  }

  .services-image {
    width: 250px;
    height: 200px;
    padding: 0;
  }
  .kga-services {
    width: 100%;
    height: 1500px;
    font-family: "Lato";
    overflow: hidden;
  }

  .eggs-section {
    margin-top: -30px;
  }
  .empty-space {
    width: 100%;
    height: 100px;
  }

  .map {
    margin-right: 800px;
  }
  .kga-footer {
    width: 100%;
    height: 255px;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
  }

  .kga-footer p {
    float: left;
    font-size: 30px;
  }

  .contact-section {
    width: 50%;
    margin: 20px 0 0 0;
  }
  .contact p {
    margin: 0;
    padding: 0.2em;
  }
  .social-links {
    width: 500%;
    margin: 20px 0 0 0;
    overflow: hidden;
  }

  .contact-section p,
  .social-links p {
    font-size: 10px;
  }

  .kga-footer h3 {
    font-size: 10px;
  }
  .address,
  .phone {
    font-size: 8px;
    text-align: left;
  }

  .social li {
    margin: 0 0 0 5px;
  }
  .social-links li {
    text-decoration: none;

    margin: 0;
    padding: 0;
  }
.rights-reserved {
  font-size: 8px;
  width: 100%;
}
  /* -----
SVG Icons - svgicons.sparkk.fr
----- */

  .svg-icon {
    width: 0.9em;
    height: 0.9em;
    float: left;
  }

  .svg-icon path,
  .svg-icon polygon,
  .svg-icon rect {
    fill: #4691f6;
  }

  .svg-icon circle {
    stroke: #4691f6;
    stroke-width: 1;
  }
  .social-links a {
    font-size: 8px;
  }
  .enquiries {
    font-size: 16px;
  }

  .design-attribute {
    margin: 50px 0 0 10px;
    width: 100%;
  }

  .design-attribute p {
    font-size: 7px;
    float: left;
  }
}

/* Portrait and Landscape */

/* Landscape */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  .container {
    overflow: hidden;
  }

  .logo {
    width: 250px;
    height: 200px;
  }
  .nav-link {
    font-size: 15px;
  }

  .nav-link {
    margin-left: 100px;

    border-radius: 10px;
  }

  .hero-text {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .hero-text1,
  .hero-text2 {
    font-size: 35px;
    width: 100%;
    text-align: center;
  }

  .kga-services h2 {
    font-size: 17px;
  }
  .jumbo-box {
    margin-top: 200px;
  }

  .jumbotron {
    margin-top: -30px;
    width: 100%;
    height: 100%;
  }

  .jumbotron p {
    font-size: 15px;
  }

  .gmnoprint {
    margin-left: 5px;
  }
  .kga-footer {
    height: 250px;
  }
  .kga-footer h3 {
    font-size: 18px;
  }
  .kga-footer p {
    font-size: 25px;
  }

  .social li {
    margin-left: -10px;
  }
  .social-links {
    overflow: hidden;
  }

  .svg-icon {
    width: 0.8em;
    height: 0.8em;
    float: left;
  }

  .svg-icon path,
  .svg-icon polygon,
  .svg-icon rect {
    fill: #4691f6;
  }

  .svg-icon circle {
    stroke: #4691f6;
    stroke-width: 1;
  }
  .design-attribute {
    margin: 50px 5px 0 120px;
    width: 100%;
  }

  .contact-section p,
  .social-links p {
    font-size: 12px;
  }
  .design-attribute p {
    font-size: 12px;
  }
  .designer {
    font-size: 10px;
  }

  .gallery-img {
    width: 200px;
    height: 100px;
  }

  .rights-reserved {
    font-size: 10px;
    width: 100%;
    margin: -50px 0 0 0 ;
  }
}

