/*----------------------------------------*/
/*  REUSEABLE CODES                          */
/*----------------------------------------*/

* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: url(../images/mainbackground.jpg);
  background-repeat: no-repeat;
  /*background-size: cover;*/
  width: 100%;
  height: 100vh;
  max-width: 100%;
  background-size: cover;
  font-family: "Lato";
}

#overlay {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
}

#overlay-footer {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 800px;
}
.hero-section {
  display: flex;
  width: 100%;
}
.hero-text {
  margin: 160px 0 0 80px;
  width: 80%;
}
.hero-text1 {
  color: rgb(255, 247, 247);
  overflow: hidden;
  font-weight: bold;
}

.hero-text2 {
  color: orange;
  overflow: hidden;
  font-weight: bold;
}
.space1 {
  width: 10%;
}

.space2 {
  width: 10%;
}
.jumbotron {
  background-color: rgba(14, 14, 27, 0.527);
  width: 80%;
  margin: auto;
  margin-top: 30px;
  border-radius: 10px;
  transition: 7s;
}
h2 {
  overflow: hidden;
  font-size: 25px;
  letter-spacing: 1px;
  text-align: center;
}


/*----------------------------------------*/
/*  NAVBAR CODES                          */
/*----------------------------------------*/
.navbar {
  float: right;
  margin: 20px 5px 10px 0;
}
.navbar li {
  padding-left: 20px;
  font-family: "Lato";
  display: inline-block;
}
.navbar li a:link,
.navbar li a:visited {
  padding: 8px 0;
  text-decoration: none;
  color: rgb(255, 255, 255);
  transition: border-bottom 0.2s;
}

.navbar li a:hover,
.navbar li a:active {
  border-bottom: 2px solid orange;
}

a {
  color: rgb(179, 13, 13);
  font-size: 22px;
  font-family: "Lato";
  font-weight: 700;
  
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
}

/*----------------------------------------*/
/*  LOGO CODES                            */
/*----------------------------------------*/

.logo {
  width: 200px;
  height: 150px;
  opacity: 0.8;
}

/*------------------------------------------------*/
/* ABOUT SECTION CODES */
/*------------------------------------------------*/

.about {
  font-family: "Lato";
  text-align: center;
  color: rgb(224, 140, 4);
  transition: 3s;
  padding: 20px 0 0 0;
}

.about:after {
  display: block;
  height: 2px;
  width: 100px;
  content: "";
  margin: 0 auto;
  background-color: orange;
  margin-top: 30px;
  margin-bottom: 5px;
}

.jumbotron p {
  font-family: "Lato";
  color: white;
  font-size: 20px;
  padding: 0 10px;
}

.jumbo-box {
  display: flex;
}

/*------------------------------------------------*/
/* GALLERY SECTION CODES */
/*------------------------------------------------*/

.back-img-gallery {
  background: url(../images/imgg7.jpg);
  background-repeat: repeat-x;
  width: 100%;
  background-size: cover;
  height: 100vh;
}

.navbar-gallery {
  float: right;
}
/* Gallery header */

.gallery {
  font-family: "Lato";
  text-align: center;
  color: rgb(224, 140, 4);
  transition: 7s;
  padding: 5px 0 0 0;
}

.gallery:after {
  display: block;
  height: 2px;
  width: 100px;
  content: "";
  margin: 0 auto;
  background-color: orange;
  margin-top: 30px;
  margin-bottom: 30px;
}

.gallery-img {
  margin-top: 10px;
  transition: all 1s;
  overflow: hidden;
  margin-bottom: 20px;
}

.gallery-img:hover {
  transform: scale(1.1);
  overflow: auto;
  cursor: pointer;
}

/*------------------------------------------------*/
/*   SERVICES SECTION CODES */
/*------------------------------------------------*/
.kga-services {
  background-color: rgb(82, 73, 43);
  width: 100%;
  height: 700px;
  font-family: "Lato";
  overflow: hidden;
}

.kga-services h1 {
  text-align: center;
  color: rgb(255, 255, 255);
  margin-top: 50px;
  font-size: 30px;
}

.kga-services h1:after {
  display: block;
  height: 2px;
  width: 100px;
  content: "";
  margin: 0 auto;
  background-color: orange;
  margin-top: 30px;
  margin-bottom: 30px;
}

.kga-services p {
  color: rgb(251, 251, 251);
  font-size: 22px;
  text-align: center;
}
.eggs-section,
.layers-section,
.broilers-section {
  color: orange;
  margin-top: 50px;
  overflow: hidden;
}

.empty-space {
  width: 100%;
  height: 300px;
  overflow: hidden;
}

/*------------------------------------------------*/
/*   FOOTER SECTION CODES */
/*------------------------------------------------*/
.kga-footer {
  display: flex;
  background-color: rgb(27, 24, 14);
  width: 100%;
  height:380px;
}

.kga-footer h2 {
  color: orange;
}

.kga-footer p {

  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;
}

.contact-section{
   width: 50%;
  margin: 50px 0 0 50px;
}
.contact p {

  float: left;
}
.social-links {
  margin: 50px 0 0 50px;
  width: 50%;
  overflow: hidden;
}
.social {

  display: inline;
  margin-bottom: 20px;
}


.social-links li {
  text-decoration: none;
  margin-left: 50px;
}


p {
  color: white;
}

.social-link ul {

      list-style: none;
      
  

}
.fa {
  padding: 20px;
  font-size: 80px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
  text-decoration: none;
}


.fa-twitter {
  background: #55ACEE;
  color: white;
  text-decoration: none;
}
.fa-facebook a {

  text-decoration: none;
}

.fa a {

  text-decoration: none;
}

span {
  width: 10%;
}

.design-attribute p {

color: rgb(255, 0, 0);
}

.design-attribute {
  margin: 50px 0 0 300px;
  width: 100%;
} 

.attribute {

  color: white;
}
/*------------------------------------------------ */
/* MEDIA QUERIES CODES                             */
/*------------------------------------------------*/

/* iphone 6/7/8 and galaxy s5 */
@media only screen and (min-device-width: 360px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {



 
  .nav-link {

    font-size: 12px;
  }
  .logo {
    width: 100px;
    height: 70px;
  }

  .hero-section {

    margin-top: 100px;
  }
  .hero-text1,
  .hero-text2 {
    font-size: 20px;
    width: 100%;
  }

  .gallery-img 
  {
    width: 300px;
    height: 200px;
    margin-left: 35px;
  }

  .hero-text {
    margin: 70px 0 0 -10px;
    width: 100%;

  }
  a {
    font-size: 15px;
  }

  .jumbo-box {
    margin-top: 300px;
  }

  .pre-jumbo {
    width: 10%;
  }

  .jumbotron {
    width: 80%;
  }

  .post-jumbo {
    width: 10%;
  }

  .jumbotron p {
    font-size: 16px;
  }

  .about {
    font-size: 18px;
  }

  .kga-services h1 {
    font-size: 18px;
  }

  .kga-services h2 {
    font-size: 15px;
  }

  .kga-services h2,

  p {
    text-align: center;
  }

  .hero-text {
    width: 100%;
  }

  .kga-services {
    width: 100%;
    height: 1000px;
    font-family: "Lato";
    overflow: hidden;
  }

  .eggs-section{

    margin-top: -30px;
  }
  .empty-space {
    width: 100%;
    height: 100px;
  }


  .map {

    margin: auto;
  }
  .kga-footer{

    width: 100%;
    height: 350px;
  }

  .contact-section p,
.social-links p {
 
  font-size: 7px;
}

.kga-footer h2 {

  font-size: 10px;
}

.fa-facebook, .fa-twitter {
 font-size: 5px;
}


.fa-facebook {
  width: 10px;
  height: 15px;
  padding: 5px 15px 15px 5px;

}

.fa-twitter {
  
  width: 10px;
  height: 15px;
  padding: 3px 16px 15px 5px;
}

.social li {

  margin: 0 0 0 5px;
}

.design-attribute {
  margin: 5px 0 0 10px;
  width: 100%;
} 

.design-attribute p {

  font-size: 16px;
}
}

/* Portrait and Landscape */

/* Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {

  .nav-link {

    font-size: 15px;
  }


  .nav-link {
    margin-left: 100px;
    background-color: rgba(25, 20, 71, 0.651);
    border-radius: 10px;
  }

  .hero-text1,
  .hero-text2 {
    font-size: 20px;
    width: 100%;
  }


  .jumbo-box {
    margin-top: 200px;
  }
    .jumbo-services {

      height: -1000px;
    }
  .gallery-img {

    width: 200px;
    height: 100px;
  
  }

  .logo {

    width: 150px;
    height: 100px;
  }



  .social li {

    margin-left: -10px;
  }
  

  
}


