/*----------------------------------------*/
/*  REUSEABLE CODES                          */
/*----------------------------------------*/
@import url(/css/font.css);
* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: url(../images/mainbackground.jpg);
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  max-width: 100%;
  background-size: cover;
  font-family: "Lato";
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
}

.hero-section {
  display: flex;
  width: 100%;
}
.hero-text {
  margin: 8rem 0 0 4rem;
  width: 80%;
  backface-visibility: hidden;
}
.hero-text1 {
  color: rgb(255, 247, 247);
  overflow: hidden;

  font-weight: bold;
  animation-name: moveInLeft;
  animation-duration: 3s;
  animation-timing-function: ease-out;
}

.hero-text2 {
  color: greenyellow;
  overflow: hidden;
  font-weight: bold;
  font-size: 30px;
  margin-top: 10px;
  animation-name: moveInRight;
  animation-duration: 3s;
  animation-timing-function: ease-out;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  /*
80% {
       transform: translateX(10px);
 }
*/
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  /*
80% {
       transform: translateX(10px);
 }
*/
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.space1 {
  width: 10%;
}

.space2 {
  width: 10%;
}

.fancy-text {
  color: rgb(238, 238, 41);
}

.jumbotron {
  background-color: rgba(14, 14, 27, 0.527);
  width: 80%;
  margin: auto;
  margin-top: 1.5rem;
  border-radius: 0.5rem;
  transition: 7s;
}
.kga-services h2 {
  overflow: hidden;
  font-size: 1.25rem;
  letter-spacing: 1px;
  text-align: center;
  margin-top: -1.5rem;
  margin-bottom: 1rem;
}

.container {
  overflow: hidden;
}

/*----------------------------------------*/
/*  NAVBAR CODES                          */
/*----------------------------------------*/
.navbar {
  float: right;
  margin: 20px 5px 10px 0;
}
.navbar li {
  padding-left: 15px;
  font-family: "Lato";
  display: inline-block;
  text-transform: uppercase;
  font-weight: bold;
}

.nav-link {
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: bold;
}
.navbar li a:link,
.navbar li a:visited {
  padding: 8px 0;
  text-decoration: none;
  color: rgb(255, 255, 255);
  transition: border-bottom 0.2s;
}

.navbar li a:hover,
.navbar li a:active {
  border-bottom: 2px solid greenyellow;
}

a {
  color: rgb(236, 221, 14);
  font-size: 20px;
  font-family: "Lato";
  font-weight: 300;
}
.navbar li a {
  font-weight: 300;
}
.offers a {
  text-decoration: none;
}
.navbar-dark .navbar-nav .nav-link {
  color: white;
  font-weight: 300;
}

/*----------------------------------------*/
/*  LOGO CODES                            */
/*----------------------------------------*/

.logo {
  width: 300px;
  height: 250px;
  opacity: 0.8;
}

/*------------------------------------------------*/
/* ABOUT SECTION CODES */
/*------------------------------------------------*/

.about {
  font-family: "Poppins";
  text-align: center;
  color: white;
  transition: 3s;
  padding: 20px 0 0 0;
  font-size: 30px;
}

.about:after {
  display: block;
  height: 2px;
  width: 100px;
  content: "";
  margin: 0 auto;
  background-color: greenyellow;
  margin-top: 30px;
  margin-bottom: 5px;
}

.jumbotron p {
  font-family: "Poppins";
  color: white;
  font-size: 1rem;
  padding: 0 0.5rem;
}
.jumbotron {
  margin-bottom: 20px;
}

.jumbo-box {
  display: flex;
}

.navbar li a {
  font-weight: 300;
}

/*------------------------------------------------*/
/* GALLERY SECTION CODES */
/*------------------------------------------------*/

.back-img-gallery {
  background: url(../images/imgg7.jpg);
  background-repeat: repeat-x;
  width: 100%;
  background-size: cover;
  height: 100vh;
}

.navbar-gallery {
  float: right;
}

.gallery {
  font-family: "Lato";
  text-align: center;
  color: rgb(224, 140, 4);
  transition: 7s;
  padding: 5px 0 0 0;
}

.gallery:after {
  display: block;
  height: 2px;
  width: 100px;
  content: "";
  margin: 0 auto;
  background-color: orange;
  margin-top: 30px;
  margin-bottom: 30px;
}

.gallery-img {
  margin-top: 10px;
  transition: all 1s;
  overflow: hidden;
  margin-bottom: 20px;
}

.gallery-img:hover {
  transform: scale(1.1);
  overflow: auto;
  cursor: pointer;
}

/*------------------------------------------------*/
/*   SERVICES SECTION CODES */
/*------------------------------------------------*/
.kga-services {
  background-color: rgb(80, 77, 77);
  width: 100%;
  height: 850px;
  font-family: "Lato";
  overflow: hidden;
}

.kga-services h1 {
  text-align: center;
  color: rgb(255, 255, 255);
  margin-top: 50px;
  font-size: 30px;
}

.kga-services h1:after {
  display: block;
  height: 2px;
  width: 100px;
  content: "";
  margin: 0 auto;
  background-color: greenyellow;
  margin-top: 30px;
  margin-bottom: 30px;
}

.kga-services h2 {
  color: greenyellow;
  animation-name: moveOut;
  animation-duration: 8s;
}

@keyframes moveOut {
  0% {
    opacity: 0;
    transform: translate3d(100px);
  }
  /*
80% {
       transform: translateX(10px);
 }
*/
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
.services-image {
  width: 250px;
  height: 200px;
  padding-right: 30px;
}

.kga-services p {
  color: rgb(251, 251, 251);
  font-size: 20px;
  text-align: center;
  font-family: "Montserrat";
}
.eggs-section,
.layers-section,
.broilers-section {
  margin-top: 10px;
  overflow: hidden;
}
.enquiries {
  font-size: 22px;
}
.empty-space {
  width: 100%;
  height: 300px;
  overflow: hidden;
}

/*-------------------------------------------- */
/*               footer  area                  */
/*---------------------------------------------*/

.main-footer {
  width: 100%;
  height: 27rem;
  background-color: rgb(44, 43, 43);
  overflow-x: hidden;
  overflow-y: hidden;
 
}


.social-links ul {
  margin: 50px 0 0 0;
  list-style: none;
}
.social-links ul li {
  color: rgb(255, 255, 255);
  font-weight: 500;
}

.social-links ul li h3 {
  color:rgb(101, 223, 19);
}
.social-links ul li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: 500;
}

.social-links ul li a:hover {
  color: rgb(0, 0, 0);
}

.social li {
  display: inline;
  padding-right: 10px;
}

.menu-links li {
  margin-bottom: 10px;
}

.ionicon {
  width: 30px;
  height: 30px;
}

.mt-5 {
  width: 1200px;
  color: white;
}
.design li a {
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
}
.design li a:hover {
  color: #df480c;
}

.design li {
  list-style: none;
  float: right;
  color:rgb(235, 19, 19);
  font-weight: bold;
}

.design {
  width: 100%;
  margin-top: 20px;
  float: right;
}

.copy li {
  list-style: none;
  float: left;
  font-weight: bold;
  color: white;
}

.copy {
  width: 100%;
  margin-top: 20px;
  float: right;
}

/*------------------------------------------------ */
/* MEDIA QUERIES CODES                    */
/*------------------------------------------------*/

/* iphone 6/7/8 and galaxy s5 */
@media only screen and (min-width: 300px) and (max-width: 768px) and (-webkit-min-device-pixel-ratio: 2) {
  .container {
    overflow: hidden;
  }

  .nav-link {
    font-size: 14px;
  }

  .navbar li {
    font-size: 14px;
  }
  .logo {
    width: 200px;
    height: 150px;
  }

  .hero-section {
    margin-top: 100px;
    overflow: hidden;
  }

  .hero-text {
    overflow: hidden;
  }
  .hero-text1,
  .hero-text2 {
    font-size: 35px;
    width: 100%;
    text-align: center;
    overflow: hidden;
  }

  .gallery-img {
    width: 300px;
    height: 200px;
    margin-left: 35px;
  }

  .hero-text {
    margin: 70px 0 0 -10px;
    width: 100%;
  }
  .designer {
    /* footer link for designer */
    font-size: 10px;
  }

  .jumbo-box {
    margin-top: 30px;
  }

  .pre-jumbo {
    width: 10%;
  }

  .jumbotron {
    width: 80%;
  }

  .post-jumbo {
    width: 10%;
  }

  .jumbotron p {
    font-size: 16px;
  }

  .about {
    font-size: 18px;
  }

  .kga-services h1 {
    font-size: 18px;
  }

  .kga-services h2 {
    font-size: 15px;
  }

  .kga-services h2,
  p {
    text-align: center;
  }

  .services-image {
    width: 250px;
    height: 200px;
    padding: 0;
  }
  .kga-services {
    width: 100%;
    height: 1500px;
    font-family: "Lato";
    overflow: hidden;
  }

  .eggs-section {
    margin-top: -30px;
  }
  .empty-space {
    width: 100%;
    height: 100px;
  }

  .map {
    margin-right: 800px;
  }

  h2 {
    margin-top: 5px;
  }

  .main-footer {
    width: 100%;
    height: 48rem;
  }
  .design {
    margin-top: 10px;
  }
  /* .design li a {
    margin-left: -5px;
  } */
}

/* Portrait and Landscape */

/* Landscape */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  .container {
    overflow: hidden;
  }

  .logo {
    width: 250px;
    height: 200px;
  }
  .nav-link {
    font-size: 14px;
  }

  .navbar li {
    font-size: 14px;
  }
  .nav-link {
    margin-left: 100px;

    border-radius: 10px;
  }

  .hero-text {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .hero-text1,
  .hero-text2 {
    font-size: 35px;
    width: 100%;
    text-align: center;
  }

  .kga-services h2 {
    font-size: 17px;
  }

  .eggs-section .jumbo-services .services-image{

    text-align: center;


    
    
  }
  .jumbo-box {
    margin-top: 200px;
  }

  .jumbotron {
    margin-top: -30px;
    width: 100%;
    height: 100%;
  }

  .jumbotron p {
    font-size: 15px;
  }

  .gmnoprint {
    margin-left: 20px;
  }
  .kga-footer {
    height: 300px;
  }
  .kga-footer h3 {
    font-size: 18px;
  }
  .kga-footer p {
    font-size: 25px;
  }

  .social li {
    margin-left: -10px;
  }
  .social-links {
    overflow: hidden;
  }

  .svg-icon {
    width: 0.8em;
    height: 0.8em;
    float: left;
  }

  .svg-icon path,
  .svg-icon polygon,
  .svg-icon rect {
    fill: #4691f6;
  }

  .svg-icon circle {
    stroke: #4691f6;
    stroke-width: 1;
  }
  .design-attribute {
    margin: 50px 5px 0 120px;
    width: 100%;
  }

  .contact-section p,
  .social-links p {
    font-size: 12px;
  }

  .designer {
    font-size: 10px;
  }

  .gallery-img {
    width: 200px;
    height: 100px;
  }
}

/* 2436x1125px at 458ppi */

@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
  .container {
    overflow: hidden;
  }

  .nav-link {
    font-size: 14px;
  }

  .navbar li {
    font-size: 20px;
  }
  .logo {
    width: 200px;
    height: 150px;
  }

  .hero-section {
    margin-top: 100px;
    overflow: hidden;
  }

  .hero-text {
    overflow: hidden;
  }
  .hero-text1,
  .hero-text2 {
    font-size: 35px;
    width: 100%;
    text-align: center;
    overflow: hidden;
  }

  .gallery-img {
    width: 300px;
    height: 200px;
    margin-left: 35px;
  }

  .hero-text {
    margin: 70px 0 0 -10px;
    width: 100%;
  }
  .designer {
    /* footer link for designer */
    font-size: 10px;
  }

  .jumbo-box {
    margin-top: 30px;
  }

  .pre-jumbo {
    width: 10%;
  }

  .jumbotron {
    width: 80%;
  }

  .post-jumbo {
    width: 10%;
  }

  .jumbotron p {
    font-size: 16px;
  }

  .about {
    font-size: 18px;
  }

  .kga-services h1 {
    font-size: 18px;
  }

  .kga-services h2 {
    font-size: 15px;
  }

  .kga-services h2,
  p {
    text-align: center;
  }

  .services-image {
    width: 250px;
    height: 200px;
    padding: 0;
  }
  .kga-services {
    width: 100%;
    height: 1500px;
    font-family: "Lato";
    overflow: hidden;
  }

  .eggs-section {
    margin-top: -30px;
  }
  .empty-space {
    width: 100%;
    height: 100px;
  }

  .map {
    margin-right: 800px;
  }
  .kga-footer {
    width: 100%;
    height: 250px;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
  }

  .kga-footer p {
    float: left;
    font-size: 30px;
  }

  .contact-section {
    width: 50%;
    margin: 20px 0 0 0;
  }
  .contact p {
    margin: 0;
    padding: 0.2em;
  }
  .social-links {
    width: 500%;
    margin: 20px 0 0 0;
    overflow: hidden;
  }

  .contact-section p,
  .social-links p {
    font-size: 12px;
  }

  .kga-footer h3 {
    font-size: 12px;
  }
  .address,
  .phone {
    font-size: 12px;
    text-align: left;
  }

  .social li {
    margin: 0 0 0 5px;
  }
  .social-links li {
    text-decoration: none;

    margin: 0;
    padding: 0;
  }
  .footer-attribute {
    width: 100%;
  }

  .design-attribute li {
    font-size: 5px;
    width: 100%;
  }

  h2 {
    margin-top: 5px;
  }

  /* -----
    SVG Icons - svgicons.sparkk.fr
    ----- */

  .svg-icon {
    width: 0.9em;
    height: 0.9em;
    float: left;
  }

  .svg-icon path,
  .svg-icon polygon,
  .svg-icon rect {
    fill: #4691f6;
  }

  .svg-icon circle {
    stroke: #4691f6;
    stroke-width: 1;
  }
  .social-links a {
    font-size: 10px;
  }
  .enquiries {
    font-size: 16px;
  }
}
